@import "../variables";
@import "../mixins.scss";

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yesButton {
  margin-top: 20px;
  @include button(#fff, rgba(46, 204, 113, 0.8));
}

.noButton {
  margin-top: 20px;
  @include button(#fff, rgba(231, 76, 60, 0.8));
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistic {
  span {
    font-weight: bold;
  }
}
