@import "../variables";

.population {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-right: 5px;
  }
}

.politicalLeaning {
  span {
    font-weight: bold;

    &.left {
      color: $politicalLeaningRed;
    }

    &.right {
      color: $politicalLeaningBlue;
    }

    &.centre {
      color: $politicalLeaningGrey;
    }
  }
}

.statistic {
  span {
    font-weight: bold;
  }
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-decoration: underline;
    font-size: $modalHeadingFontSizeSmall;
  }
}

.isInParty {
  font-style: italic;
}
