//Font Sizes
$headingFontSizeSmall: 3em;
$headingFontSizeMedium: 4em;

//Colours
$sea-blue: #45aaf2;
$blue: #0a3d62;
$white: #f5f6fa;

//Breakpoints
$brk-medium: 768px;
$brk-large: 992px;

$box-shadow: 1px 1px 4px rgba(51, 51, 51, 0.4);
